<% layout('/layouts/boilerplate')%>
<div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><%= message %></h4>
                <hr>
                <% if (process.env.NODE_ENV !== "production") { %>
                    <p class="card-text"><%= err.stack %></p>
                <% } %>
            </div>
        </div>
    </div>
</div>