<% layout('/layouts/boilerplate')%>

<div class="container d-flex align-items-center vh-100">
  <div class="row cover-container text-center justify-content-center">
    <div class="mb-5 fs-1 fw-bold fst-italic">RateAnything</div>
    <div class="lead fs-4 col-md-8">
      <p>
        Are you a passionate traveler, an avid diner, or simply someone who
        loves sharing their experiences?
      </p>
      <p>
        Our platform brings together a diverse community of explorers, food
        enthusiasts, adventurers, and everyday consumers who want to share their
        insights and help others make informed choices.
      </p>
      <p>
        <span class="fw-bold fst-italic">RateAnything</span> is your all-encompassing destination for sharing and
        discovering authentic reviews from around the world.
      </p>
    </div>
    <div class="mt-5 justify-content-center">
      <a href="/items" class="btn btn-dark mx-3">View Ratings</a>
      <a href="/items/new" class="btn btn-dark mx-3">Create Rating</a>
    </div>
  </div>
</div>
