<% layout('/layouts/boilerplate')%>

<div class="text-center cover-container" style="margin-top: 10vh;">
      <h1>YelpCamp</h1>
      <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
      <a href="/campgrounds"><button type="button" class="btn btn-primary">View Campgrounds</button></a>
    </div>