<% layout('/layouts/boilerplate')%>

<div class="container d-flex align-items-center vh-100">
  <div class="row cover-container text-center justify-content-center">
    <h1 class="mb-4">RateAnything</h1>
    <p class="lead col-md-8">
      Are you a passionate traveler, an avid diner, or simply someone who loves
      sharing their experiences?
    </p>
    <p class="lead col-md-8">
      Our platform brings together a diverse community of
      explorers, food enthusiasts, adventurers, and everyday consumers who want to
      share their insights and help others make informed choices.
    </p>
    <p class="lead col-md-8">
      RateAnything is your
      all-encompassing destination for sharing and discovering authentic reviews from around the world.
    </p>

    <div class="mt-4 col-md-8">
      <a href="/items/" class="btn btn-secondary">View Ratings</a>
      <a href="/items/new" class="btn btn-secondary">Create Rating</a>
    </div>
  </div>
</div>
